@import "../../variables/styles/colors.scss";

.alink {
  background-color: $mainYellow;
  color: $mainColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  outline: none;
  border: none;
  border-radius: 16px;
  transition: all 0.3s ease-in-out 0s;
  padding: 0.6rem 12px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 32px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
