@mixin afterHover {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  background-color: var(--background-color);
}

.linkButton {
  &:hover {
    .arrowIcon {
      transform: translateX(3px);
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -ms-transform: translateX(3px);
      -o-transform: translateX(3px);
    }
  }
  .arrowIcon {
    margin-inline-start: 1rem;
  }
}

.logo {
  width: 25rem;
  height: 11rem;
}

.navLink {
  text-decoration: none;
  color: #fff;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

ul {
  position: relative;
}

li:nth-child(1) {
  &:after {
    @include afterHover();
    background-color: #ff4e36;
  }
}

li:nth-child(2) {
  &:after {
    @include afterHover();
    background-color: #ff7f0f;
  }
}

li:nth-child(3) {
  &:after {
    @include afterHover();
    background-color: #00b2ff;
  }
}
li:nth-child(4) {
  &:after {
    @include afterHover();
    background-color: #eacca0;
  }
}

li:hover {
  &:after {
    height: 0.4rem;
  }
}

li:nth-child(5) {
  &:hover {
    .navLink {
      color: rgb(255, 229, 0);
    }
  }
}

li:nth-child(1) {
  .navLink {
    padding-left: 1.8rem;
  }
}
