@import "../../variables-style/styles/colors";
@import "../../variables-style/mixins/variables";

.linkButton {
  &:hover {
    .arrowIcon {
      transform: translateX(3px);
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -ms-transform: translateX(3px);
      -o-transform: translateX(3px);
    }
  }
  .arrowIcon {
    margin-inline-start: 1rem;
  }
}

.logo {
  width: 25rem;
  height: 11rem;
}

.navLink {
  text-decoration: none;
  color: $mainWhite;
  margin-top: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
}

li:nth-child(1) {
  &:after {
    @include afterHover();
    background-color: $salmonHover;
  }
}

li:nth-child(2) {
  &:after {
    @include afterHover();
    background-color: $orangeHover;
  }
}

li:nth-child(3) {
  &:after {
    @include afterHover();
    background-color: $blueHover;
  }
}
li:nth-child(4) {
  &:after {
    @include afterHover();
    background-color: $beigeHover;
  }
}

li:hover,
.active {
  &:after {
    height: 0.4rem;
  }
}

li:nth-child(5) {
  &:hover {
    .navLink {
      color: $mainYellow;
    }
  }
}

li:nth-child(1) {
  .navLink {
    padding-left: 1.8rem;
  }
}
