$borderColor: #506991;
$secondaryBorder: #57667e4d;
$mainColor: #052962;
$mainWhite: #ffffff;
$mainYellow: rgb(255, 229, 0);
$salmonHover: #ff4e36;
$orangeHover: #ff7f0f;
$blueHover: #00b2ff;
$beigeHover: #eacca0;
